    </div>
  </div></div>

<div id="footer">
  <a class="footlogo" href="/">npm</a>

  <ul>
    <li><a href="/">npm Registry</a>
    <li><a href="/doc/">Documentation</a>
    <li><a href="https://raw.github.com/npm/npm/master/LICENSE">License</a>
    <li><a href="https://github.com/npm/npm-www/issues">Website Issues</a>
    <li><a href="http://nodejs.org/">Node.js Home</a>
    <li><a href="http://blog.npmjs.org/">Blog</a>
    <li><a href="http://status.nodejs.org/">Status</a>
  </ul>

  <div class="poweredby">
    <h2>Powered By:</h2>
    <ul>
      <li class="joyent">
        <a href="https://my.joyentcloud.com/landing/signup/701800000015JXr"><img src="/static/img/joyent-footer.png"
        alt="Joyent"
        height=32></a>
      </li>
    </ul>
  </div>
</div>

<small class="heart">npm loves you</small>

<script src="/static/js/footer.min.js"></script>
<!-- <%= stamp %> -->
